.u-section-1 {
  background-image: none;
  min-height: 1155px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  width: 822px;
  margin: 64px auto 0;
}

.u-section-1 .u-text-2 {
  width: 822px;
  animation-duration: 1000ms;
  margin: 9px auto 0;
}

.u-section-1 .u-image-1 {
  height: 736px;
  object-position: 33.83% 67.46%;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -741px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 92px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 385px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px 30px 0;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(85, 92, 102) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 24px 1px 0 21px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 13px 11px 0 29px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 378px;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(85, 92, 102) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 2px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 11px 0 9px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 95px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 95px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 528px;
}

.u-section-1 .u-container-layout-6 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(85, 92, 102) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 21px 10px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 475px;
}

.u-section-1 .u-container-layout-7 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(85, 92, 102) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 2px 0 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 20px 11px 0 9px;
}

.u-section-1 .u-btn-15 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 99px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1013px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 435px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 392px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1250px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1593px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1709px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 113px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 119px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/images1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1344px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 22px -12px 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-video-1 {
  width: 800px;
  min-height: 187px;
  height: auto;
  margin: -69px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  line-height: 1.3;
  margin: 44px 0 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 761%;
  top: -330%;
}

.u-section-2 .u-video-2 {
  width: 570px;
  height: 300px;
  margin: 44px auto 0;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-btn-23 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 54px 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-2 .u-video-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-2 .u-btn-23 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-video-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
  }

  .u-section-2 .u-video-2 {
    width: 340px;
  }
}.u-section-3 {
  min-height: 740px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 775px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 605px auto 0 77px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 731px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 100px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 34px 0 0 166px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 21px 17px 0 149px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 448px;
  height: 448px;
  background-image: url("images/Ice.gif");
  background-position: 50% 50%;
  margin: -585px auto 60px calc(((100% - 1140px) / 2) + 216px);
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 663px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 639px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 663px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 204px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 370px;
    height: 370px;
    margin-top: -511px;
    margin-left: calc(((100% - 940px) / 2) + 181px);
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 699px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 23px;
    padding-left: 146px;
  }

  .u-section-3 .u-image-1 {
    width: 266px;
    height: 266px;
    margin-top: -474px;
    margin-left: calc(((100% - 720px) / 2) + 135px);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 817px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -729px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 951px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 639px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -844px;
    margin-bottom: 336px;
  }
}.u-section-4 {
  background-image: linear-gradient(#478ac9, #72efe9);
}

.u-section-4 .u-sheet-1 {
  min-height: 1425px;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  margin: 63px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -29px auto 60px 0;
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 908px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 8px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 900px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 28px 0 16px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 238px 0 14px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 72px 0 14px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-5 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 11px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 933px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  height: 456px;
  background-image: url("images/xxx.gif");
  background-position: 50% 50%;
  margin-top: 134px;
  margin-bottom: 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 77px;
  min-height: 16px;
  width: 164px;
  min-width: 42px;
  margin: 60px 135px 0 auto;
}

.u-section-5 .u-icon-1 {
  height: 100%;
  color: rgb(255, 0, 0) !important;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 36px 147px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 742px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 132px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-video-1 {
    width: 520px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 769px;
  }

  .u-section-5 .u-image-1 {
    width: 456px;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-video-1 {
    width: 388px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1259px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -151px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 8px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
}.u-section-6 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-6 .u-sheet-1 {
  min-height: 772px;
}

.u-section-6 .u-text-1 {
  text-shadow: -2px 0 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 86px 502px 0 397px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 34px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 579px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin: 170px auto 0 86px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-6 .u-text-3 {
  margin: 86px auto 0 45px;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-6 .u-image-1 {
  width: 556px;
  height: 468px;
  object-position: 50% 40.71%;
  margin: -346px 119px 0 auto;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: -422px auto 0 107px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-6 .u-text-1 {
    width: 519px;
    margin-left: 297px;
    margin-right: 402px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 187px;
    margin-right: 292px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 97px;
    margin-right: 202px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 520px;
    height: 438px;
    margin-right: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-top: -392px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 99px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 270px;
  }

}
